    ul{
        list-style: none;
        cursor: pointer;
        position: relative;
        .color{
            color: #FCBE00;
        }
       
    }
    h2{
        position: relative;
        &::before{
            position: absolute;
            content: "";
            bottom: -96%;
            background-color: #FCBE00;
            width: 35%;
            height: 2px;
        }
    }

.containerr {
    width: 50%;
    margin: auto;

    .box {
        background-color: white;
        padding: 35px 10px ;
        transition: 0.3s ease-in-out;
        overflow: hidden;
        width: 280px;
        cursor: pointer;
        .image {
            position: relative;

            .icons {
                position: absolute;
                top: 10%;
                right: 0%;

                .icon {
                    background-color: white;
                    padding: 5px;
                    margin-bottom: 5px;
                    opacity: 0;
                    visibility: hidden;
                    transform: translateX(30px);
                    transition: 0.3s ease-in-out;
                }
            }
        }

        .text {
            .box1 {
                display: block;

                &.title {
                    color: #263C97;
                    font-weight: 500;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    padding-bottom: 5px;
                    padding-top: 2px;

                    &:hover {
                        color: #FCBE00;
                    }
                }

                &.number {
                    padding-bottom: 5px;
                    font-weight: bold;
                    .del {
                        margin-right: 10px;
                    }
                }
            }

            .star {
                color: #FCBE00;
                padding-bottom: 5px;
            }

            .box2 {
                background-color: rgb(239, 239, 239);
                width: 100%;
                height: 5px;
                border-radius: 5px;
                position: relative;
                padding: 4px;
                margin-bottom: 5px;

                .red {
                    position: absolute;
                    background-color: #CC1414;
                    top: 0%;
                    left: 0%;
                    width: 20%;
                    height: 100%;
                    border-radius: 5px;
                }
            }

            .button {
                button {

                    margin: auto;
                    background-color: #FCBE00;
                    border: none;
                    outline: none;
                    width: 100%;
                    padding: 10px;
                    font-size: 13px;
                    color: black;
                    transition: 0.2s ease;
                    opacity: 0;
                    visibility: visible;
                    transition: 0.2s ease;
                    transform: translateY(30px);
                }
            }
        }

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .button {
                button {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(25px);
                }
            }
            .icons{
                .icon{
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0px);
                }
            }
        }
    }
}