$base: #263C97;
$blue: #16BCDC;
$yellow: #FCBE00;
$color : #fff;

#header {
    background-color: $base;
    color: $color;

    .topNav {
        display: flex;
        justify-content: space-between;
        height: 5vh;
        width: 90%;
        margin: auto;

        .left {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            padding: 15px;

            .language {
                margin-right: 15px;
                display: flex;

                .langArea {
                    display: inline;

                    .language-list {
                        background-color: white;
                        border-radius: 5px;
                        position: absolute;
                        color: black;
                        padding: 0%;
                        display: none;

                        &.active {
                            display: block;
                        }

                        li {
                            list-style: none;
                            padding: 7px;
                        }
                    }
                }

            }

            .number {
                padding-left: 20px;
            }
        }

        .right {
            ul {
                display: flex;
                justify-content: space-between;

                li {
                    list-style: none;
                    padding: 15px;
                    cursor: pointer;
                    transition: 0.3s ease-in;

                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin: auto;

        .left {
            padding: 20px;
        }

        .center {
            .box {
                background-color: white;
                border: none;
                padding: 10px;
                border-radius: 6px;
                display: flex;
                justify-content: space-between;
                position: relative;

                button {
                    background-color: $yellow;
                    border: none;
                    position: absolute;
                    width: 10%;
                    top: 0%;
                    right: 0%;
                    bottom: 0%;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;

                    .search {
                        color: white;
                    }
                }

                .selectArea {
                    span {
                        color: black;
                        padding: 4px;
                        border-right: 2px solid rgb(216, 216, 216);
                        cursor: pointer;
                    }

                    .select-list {
                        background-color: white;
                        border-radius: 5px;
                        position: absolute;
                        color: black;
                        margin-left: -10px;
                        padding: 0%;
                        display: none;

                        li {
                            list-style: none;
                            padding: 7px;
                            cursor: pointer;
                            border-radius: 5px;

                            &.first {
                                background-color: #FCBE00;
                                color: white;
                            }

                            &:hover {
                                background-color: #FCBE00;
                                color: white;
                            }
                        }

                        &.active {
                            display: block;
                        }
                    }
                }

                input {
                    border: none;
                    width: 400px;
                    outline: none;
                }


            }
        }

        .right {
            i {
                font-size: 25px;
            }

            span {
                font-size: 15px;
            }
        }
    }

    .bottomNav {
        width: 90%;
        margin: auto;
        padding-bottom: 10px;
        position: relative;
        z-index: 9999;
        .left {
            .shop-list {
                cursor: pointer;
                display: inline;
                padding: 10px;
                position: relative;

                span {
                    padding: 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: $yellow;
                        color: black;
                    }
                }

                .shop-listt {
                    display: none;
                    position: absolute;
                    color: black;
                    top: 100%;
                    background-color: white;
                    box-shadow: 0 0 2px 0 grey;
                    padding: 7px;
                    width: 100%;
                    border-radius: 5px;

                    &.active {
                        display: block;
                    }

                    li {
                        list-style: none;
                        transition: 0.3s ease-in-out;
                        
                        &:hover {
                            color: $yellow;
                            
                        }
                    }
                }
            }
        }

        .center {
            ul {
                li {
                    padding-left: 40px;
                    &.home {
                        cursor: pointer;
                       color: $yellow;
                        .dropdown-menu2{
                            position: absolute;
                            top: 100%;
                            left: 20%;
                            background-color: white;
                            padding: 30px;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;
                            color: black;
                            box-shadow: 0 0 2px 0px grey;
                            p{
                                transition: 0.3s ease-in-out;
                                &:hover{
                                    color:$yellow;
                                    margin-left: 7px;
                                }
                            }
                            .bold{
                                font-weight: bold;
                            }
                            .yellow{
                                color:$yellow;
                            }
                        }
                       &:hover{
                           .dropdown-menu2{
                            opacity: 1;
                            visibility: visible;
                           }
                          
                       }
                    }
                    &.about{
                        cursor: pointer;
                    }
                    &.shop {
                        cursor: pointer;
                        .dropdown-menu2{
                            width: 100%;
                            position: absolute;
                            top: 100%;
                            left: 0%;
                            background-color: white;
                            padding: 30px;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;
                            color: black;
                            box-shadow: 0 0 2px 0px grey;
                            p{
                                transition: 0.3s ease-in-out;
                                &:hover{
                                    color:$yellow;
                                    margin-left: 7px;
                                }
                            }
                            .bold{
                                font-weight: bold;
                            }
                            .yellow{
                                color:$yellow;
                            }
                            .end{
                                text-align: center;
                                background-color: red;
                                width: 100%;
                                position: absolute;
                                bottom: 0%;
                                left:0%;
                                right:0%;
                                padding: 10px;
                                color: white;
                            }
                        }
                       &:hover{
                           .dropdown-menu2{
                            opacity: 1;
                            visibility: visible;
                           }
                          
                       }
                    }
                    &.blog {
                        cursor: pointer;
                        .dropdown-menu2{
                            position: absolute;
                            top: 100%;
                            left: 52%;
                            background-color: white;
                            padding: 30px;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;
                            color: black;
                            box-shadow: 0 0 2px 0px grey;
                            p{
                                transition: 0.3s ease-in-out;
                                &:hover{
                                    color:$yellow;
                                    margin-left: 7px;
                                }
                            }
                            .bold{
                                font-weight: bold;
                            }
                            .yellow{
                                color:$yellow;
                            }
                        }
                       &:hover{
                           .dropdown-menu2{
                            opacity: 1;
                            visibility: visible;
                           }
                          
                       }
                    }
                    &.pages {
                        cursor: pointer;
                        .dropdown-menu2{
                            position: absolute;
                            top: 100%;
                            left: 58%;
                            background-color: white;
                            padding: 30px;
                            opacity: 0;
                            visibility: hidden;
                            transition: 0.3s ease-in-out;
                            color: black;
                            box-shadow: 0 0 2px 0px grey;
                            p{
                                transition: 0.3s ease-in-out;
                                &:hover{
                                    color:$yellow;
                                    margin-left: 7px;
                                }
                            }
                            .bold{
                                font-weight: bold;
                            }
                            .yellow{
                                color:$yellow;
                            }
                        }
                       &:hover{
                           .dropdown-menu2{
                            opacity: 1;
                            visibility: visible;
                           }
                          
                       }
                    }

                }
            }

        }
    }
}



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    #header{
        .topNav{
        width: 100%;
            .right{
                display: none;
            }
            .left{
                .number{
                    display: none;
                }
            }
        }
        .nav{
            .center{
                display: none;
            }
        }
        .bottomNav{
            .display-span{
                display: none;
                opacity: 0;
            }
            .center{
                display: none;
            }
            .right{
                span{
                   margin-right: 30px;
                }
            }
        }
    }


 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    #header{
        .topNav{
            .right{
                display: none;
            }
        }
        .nav{
            .center{
                display: none;
            }
        }
        .bottomNav{
            .center{
                display: none;
            }
        }
    }

 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }