#header {
  background-color: #263C97;
  color: #fff;
}

#header .topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5vh;
  width: 90%;
  margin: auto;
}

#header .topNav .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 15px;
}

#header .topNav .left .language {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .topNav .left .language .langArea {
  display: inline;
}

#header .topNav .left .language .langArea .language-list {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  color: black;
  padding: 0%;
  display: none;
}

#header .topNav .left .language .langArea .language-list.active {
  display: block;
}

#header .topNav .left .language .langArea .language-list li {
  list-style: none;
  padding: 7px;
}

#header .topNav .left .number {
  padding-left: 20px;
}

#header .topNav .right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header .topNav .right ul li {
  list-style: none;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

#header .topNav .right ul li:hover {
  color: #16BCDC;
}

#header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: auto;
}

#header .nav .left {
  padding: 20px;
}

#header .nav .center .box {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

#header .nav .center .box button {
  background-color: #FCBE00;
  border: none;
  position: absolute;
  width: 10%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

#header .nav .center .box button .search {
  color: white;
}

#header .nav .center .box .selectArea span {
  color: black;
  padding: 4px;
  border-right: 2px solid #d8d8d8;
  cursor: pointer;
}

#header .nav .center .box .selectArea .select-list {
  background-color: white;
  border-radius: 5px;
  position: absolute;
  color: black;
  margin-left: -10px;
  padding: 0%;
  display: none;
}

#header .nav .center .box .selectArea .select-list li {
  list-style: none;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
}

#header .nav .center .box .selectArea .select-list li.first {
  background-color: #FCBE00;
  color: white;
}

#header .nav .center .box .selectArea .select-list li:hover {
  background-color: #FCBE00;
  color: white;
}

#header .nav .center .box .selectArea .select-list.active {
  display: block;
}

#header .nav .center .box input {
  border: none;
  width: 400px;
  outline: none;
}

#header .nav .right i {
  font-size: 25px;
}

#header .nav .right span {
  font-size: 15px;
}

#header .bottomNav {
  width: 90%;
  margin: auto;
  padding-bottom: 10px;
  position: relative;
}

#header .bottomNav .left .shop-list {
  cursor: pointer;
  display: inline;
  padding: 10px;
  position: relative;
}

#header .bottomNav .left .shop-list span {
  padding: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#header .bottomNav .left .shop-list span:hover {
  background-color: #FCBE00;
  color: black;
}

#header .bottomNav .left .shop-list .shop-listt {
  display: none;
  position: absolute;
  color: black;
  top: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 2px 0 grey;
          box-shadow: 0 0 2px 0 grey;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
}

#header .bottomNav .left .shop-list .shop-listt.active {
  display: block;
}

#header .bottomNav .left .shop-list .shop-listt li {
  list-style: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#header .bottomNav .left .shop-list .shop-listt li:hover {
  color: #FCBE00;
}

#header .bottomNav .center .home .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 23%;
  width: 250px;
  background-color: white;
  color: black;
  z-index: 555;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
/*# sourceMappingURL=header.css.map */